<footer id="footer" class="footer">
    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">      
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <div class="custom-font h3">Günyap Elektrik İnşaat Taahhüt Mühendislik Müşavirlik San. Ve Tic. Ltd. Şti<span>.</span></div>
                <p class="d-flex align-items-center justify-content-start">
                  <i class="bi bi-whatsapp" style="font-size: larger;"></i>&nbsp; <strong>İletişim:</strong>&nbsp;{{ telefon.ad }}<br> <!-- WhatsApp sembolü -->
                </p>
                <p class="d-flex align-items-center justify-content-start">
                  <i class="bi bi-envelope" style="font-size: larger;"></i>&nbsp; <strong>Email: </strong>&nbsp;{{ mail.ad }}<br> <!-- Zarf sembolü -->
                </p>
                <p class="d-flex align-items-center justify-content-start">
                  {{ adres.ad|linebreaks}}<br>
  
                </p>
              <div>
              <div class="social-links d-flex mt-3">
                {% for hesap in hesaplar %}
                    {% if hesap.ad == 'Facebook' and hesap.baglanti %}
                        <a href="{{ hesap.baglanti }}" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                    {% elif hesap.ad == 'Facebook' and not hesap.baglanti %}
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                    {% elif hesap.ad == 'Instagram' and hesap.baglanti %}
                        <a href="{{ hesap.baglanti }}" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                    {% elif hesap.ad == 'Instagram' and not hesap.baglanti %}
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                    {% endif %}
                {% endfor %}
              </div>
            </div>
          </div><!-- End footer info column-->

         

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          Copyright &copy;<strong><span> Günyap Grup</span></strong>.Tüm Hakları Saklıdır
        </div>
        <div class="credits">
          Designed by <a href="https://www.linkedin.com/in/melisa-ayd%C4%B1nc%C4%B1-b522a11b2/">Melisa Aydıncı</a>
        </div>
      </div>
    </div>

  </footer>